* {
    background-color: brown;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    margin-bottom: 20px;
    height: 20%;
}
#canvas {
    height: 500px;
    width: 900px;
    background-color: blue;
}
footer {
    margin-top: 1cm;
    height: 40%;
}
#input-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6cm;
}