
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}
header {
    margin-bottom: 20px;
    height: 20%;
}
#canvas {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 900px;
    background-color: blue;
}
#input-style {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 8cm;
    width: 12cm;
    background-color: lightsalmon;
}
input {
    width: 10cm;
}
div:nth-child(1) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(255, 17, 0);
}
div:nth-child(2) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(0, 255, 123);
}
div:nth-child(3) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(255, 0, 21);
}
div:nth-child(4) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(0, 255, 8);
}
div:nth-child(5) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(255, 0, 132);
}
div:nth-child(6) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(255, 157, 0);
}
div:nth-child(7) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(204, 0, 255);
}
div:nth-child(8) {
    height: 4cm;
    width: 5cm;
    background-color:rgb(0, 255, 34);
}

footer {
    margin-top: 1cm;
    height: 40%;
}
@media screen and (max-width:1024px){
    body {
        background-color:cornflowerblue;
    }
    #canvas {
        height: 500px;
        width: 700px;
    }
}
@media screen and (max-width:480px){
    body {
        background-color: coral;
    }
    #canvas {
        height: 200px;
        width: 300px;
    }
}
